body {
  background-color: #fffefc;
  font-family: Arial, sans-serif;
}

.topbar {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.navbar {
  background-color: #7153f3;

}

.navbar-brand img {
  height: 40px;
}
.banner-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 40%;
}



.section-heading {
  font-weight: 600;
  margin-bottom: 1rem;
}

.category-card img {
  width: 100%;
  height: 200px; /* Increase height */
  object-fit: contain; /* Keep full image visible */
  transition: transform 0.3s ease;
 
}

.category-card img:hover {
  transform: scale(1.1);
}

.category-card {
  background-color: #ded9f3;
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.category-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.deal-card{
    /* Increase height */
  object-fit: contain; /* Keep full image visible */
  transition: transform 0.3s ease;
  background-color: #ded9f3;
  
}
.brand-card {
      background-color: #ded9f3;
      border-radius: 20px;
      padding: 15px;
      text-align: center;
      height: 100%;
      box-shadow: 0 0 5px rgba(16, 15, 15, 0.05);
      transition: 0.3s;
    }

    .brand-card img          {
      width: 150px;
      height: 100px;
      object-fit: contain;
      border-radius: 10%;
      margin-bottom: 10px;
    }

    /* .brand-card.active {
      border: 2px solid #198754;
      background-color: #eafaf1;
    } */

    .brand-name {
      font-weight: 150;
      font-size: larger;
    }

    .brand-subtext {
      font-size: 0.9rem;
      color: #6c757d;
    }
/* .category-card img,
.deal-card img,
.brand-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
} */
